.adminLogin {
    width: 480px;
    height: 294px;
    margin: 0 auto;
    background-color: rgba(234, 233, 235, 0.95);
}

.adminLogin-header {
    width: 100%;
    height: 60px;
    background-color: rgba(99, 83, 108, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}

.adminLogin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 17px;
}

.adminLogin-form_input {
    width: 272px;
    height: 36px;
    color: rgba(183, 183, 183, 1);
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px;
}

.adminLogin-form_input:first-of-type {
    margin-bottom: 8px;
}

.adminLogin-form_label {
    color: rgba(132, 132, 132, 1);
    font-weight: 400;
    font-size: 14px;
    width: 272px;
    text-align: left;
}

.adminLogin-buttonWrap {
    display: flex;
    justify-content: center;
}

.adminLogin-button {
   width: 189px;
   height: 40px;
   margin: 0 auto;
}