.hall-management-button {
    width: 11.357rem;
    height: 2.857rem;
}

.hall-management-list {
    margin-top: 1.071rem;
    margin-bottom: 1.571rem;
    display: flex;
    flex-direction: column;
    gap: 0.714rem;
    padding-left: 0.6rem;
}

.hall-management-list-item {
    font-weight: 500;
    font-size: 1.071rem;
    text-transform: uppercase;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hall-management-add-hall-form {
    width: 60rem;
    height: 18.571rem;
    margin: 0 auto;
    background: rgba(234, 233, 235, 0.95);
    z-index: 1001;
    position: relative;
}

.hall-management-list-input {
    width: 53.571rem;
    height: 2.5rem;
    padding: 0.571rem;
    box-sizing: border-box;
    font-size: 1.142rem;
}

.hall-delete-button {
    width: 1.428rem;
    height: 1.428rem;
    background-color: #fff;
    margin-left: 0.214rem;
}

.delete-bin-img {
    width: 0.857rem;
    height: 0.857rem;
}

.hall-management-button.cancel {
    width: 10rem;
    height: 2.857rem;
    background-color: #fff;
    color: rgba(99, 83, 108, 1);
}

.hall-management-button {
    width: 13.857rem;
    height: 2.857rem;
}

.hall-management-new-hall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hall-management_new-hall-list {
    display: flex;
    flex-direction: column;
    margin-top: 2.428rem;
    margin-bottom: 2.428rem;
}

.hall-management-list-label {
    font-size: 0.857rem;
    font-weight: 400;
}

.hall-management-button-wrap {
    display: flex;
    gap: 1rem;
}

.pop-up-cross {
    width: 1.571rem;
    height: 1.571rem;
    cursor: pointer;
}

@media (min-width: 480px)and (max-width: 1024px) {
    .hall-management-add-hall-form {
        width: 100%;
    }

    .hall-management_new-hall-list {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    
    .hall-management-list-input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hall-management-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 12.5rem
    }

    .hall-management-button.cancel {
        width: 12.5rem;
    }

    .hall-management-add-hall-form {
        width: 100%;
    }

    .hall-management_new-hall-list {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .hall-management-list-input {
        width: 100%;
    }

    .hall-management-new-hall {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .hall-management-button-wrap {
        flex-direction: column;
    }
}