
.hall-management-button {
    width: 159px;
    height: 40px;
}

.hall-management-list {
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hall-management-list-item {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

}

.hall-management-add-hall-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: rgba(234, 233, 235, 0.95);
  padding: 10px;
  z-index: 999;
  position: relative;
}

.hall-management-list-name {
    padding: 10px;
}

.hall-delete-button {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 3px;
}

.delete-bin-img {
    width: 12px;
    height: 12px;
}