.dashboard_hall-config {
    width: 100%;
    background-color: rgba(234, 233, 235, 0.95);
}

.hall-config-list {
    display: flex;
    margin-bottom: 36px;
}

.hall-config-list-item {
    list-style-type: none
}

.hall-config-button {
    width: 81px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.45);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.hall-config-button.selected {
    width: 90px;
    height: 46px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 900;
}