.dashboard_hall-config {
    width: 100%;
    background-color: rgba(234, 233, 235, 0.95);
}

.hall-config-list {
    display: flex;
    margin-bottom: 2.571rem;
}

.hall-config-list-item {
    list-style-type: none;
}

.hall-config-button {
    width: 5.785rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.45);
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.hall-config-seats {
    display: flex;
    gap: 0.642rem;
    align-items: center;
}

.hall-config-seats-wrap {
    display: flex;
    flex-direction: column;
}

.hall-config-seats-btn-wrap {
    align-items: center;
    display: flex;
}

.hall-config-seats-additional {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.hall-config-seats-input {
    width: 7.142rem;
    height: 2.571rem;
}

.hall-config-seats > p {
    margin: 0;
    align-self: flex-end;
    font-size: 1.285rem;
    transform: translateY(-0.928rem);
}

.hall-config-seats-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.214rem;
    margin-bottom: 0.785rem;
}

.hall-config-seats-additional.info {
    margin-right: 1.642rem;
}

.hall-config-seats-screen {
    width: 100%;
    margin-top: 0.857rem;
    border: 0.071rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall-config-seats-screen-info {
    letter-spacing: 1.357rem;
    font-size: 1.142rem;
    text-transform: uppercase;
    margin-top: 1.857rem;
    margin-bottom: 1.428rem;
}

.hall-config-row {
    display: flex;
    gap: 0.714rem;
    margin-bottom: 0.714rem;
}

.hall-config-seats-screen-seats {
    margin-bottom: 2.571rem;
}

.config-seats-confirm-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.071rem;
    margin-top: 1.857rem;
}

.config-seats-confirm-button.cancel {
    width: 8.571rem;
    height: 2.857rem;
    background-color: #fff;
    color: rgba(99, 83, 108, 1);
}

.config-seats-confirm-button.save {
    width: 10.428rem;
    height: 2.857rem;
}

@media (max-width: 480px) {

    .hall-config-seats-btn-wrap {
        display: flex;
    }

    .hall-config-seats-info {
        gap: 0.75rem;
        flex-direction: column;
        align-items: baseline;
    }

    .hall-config-seats-screen-seats {
        max-width: 20.6rem;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }

    .hall-config-row {
        gap: 0.4rem;
    }
}
