.index {
    width: 100%;
    margin: 0 auto; 
    max-width: 70.7rem;
}

.login {
    width: 4.4375rem;
    position: absolute;
    top: -5.125rem;
    margin-right: 1rem;
}

.index-button {
    justify-content: end;
    position: relative;
    overflow: visible;
}

.index-nav {
    width: 100%;
    min-height: 3.75rem;
    margin-bottom: 1.875rem;
    position: relative;
}

.index-nav-days {
    min-width: max-content;
}

.nav-day {
    border: none;
    width: 7.75rem;
    min-height: 3rem;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 0.0625rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);
    border-radius: 0.125rem;
    flex-shrink: 0;
}

.nav-selected {
    width: 15.0625rem;
    min-height: 3.25rem;
    font-size: 0.9375rem;
    font-weight: 700;
}

.weekend {
    color: rgba(255, 0, 0, 1);
}
 
.index-main-section {
    width: 100%;
    min-height: 21.875rem;
    padding: 0.9375rem;
    background-color: rgba(241, 235, 230, 0.95);
    box-sizing: border-box;
    margin-bottom: 1.875rem;
}

.index-main-section__movie-info {
    display: flex;
    gap: 0.9375rem;
}

.index-description {
    font-size: 0.875rem;
}

.index-time {
    font-size: 0.875rem;
}

.index-image {
    width: 7.8125rem;
    height: 10.9375rem;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.img-wrapper::after {
    position: absolute;
    content: '';
    border-width: 0.9rem 0 0 0.4rem;
    border-style: solid;
    border-color: rgba(57, 57, 57, 1);
}

.index-main-section__info {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.movie-seances {
    margin-top: 0.4375rem;
}

.seances-button {
    width: 3.3125rem;
    height: 2.0625rem;
    margin-right: 0.25rem;
    border: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);
    font-weight: 400;
    font-size: 0.9375rem;
    border-radius: 0.125rem;
}

.movie-seances-halls__info {
    margin-bottom: 1.25rem;
}

.index-nav-days-contsiner {
    overflow-x: auto;
    max-width: 100%;
    flex: 1;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-btn {
    position: absolute;
    width: 7.75rem;
    height: 3rem;
    top: 46%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.1);
}

.scroll-btn.right {
    right: 0;
}

.index-nav-days-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-day {
        width: 4.7rem;
    }

    .nav-selected {
        width: 5.3rem;
    }

    .scroll-btn {
        width: 3.5rem;
    }
}