.dashboard-wrap {
    width: 962px;
    margin: 0 auto;
}

.dashboard_hall-management {
    width: 100%;
    background-color: rgba(234, 233, 235, 0.95);
}

.dashboard-header-wrap {
    width: 100%;
    height: 95px;
    background-color: rgba(99, 83, 108, 1);
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 35px 40px 35px 104px;
}

.circle::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 40px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 1);
    border: 4px solid rgba(188, 149, 214, 1);
    box-sizing: border-box;
}

.dashboard-header {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.dashboard-header-arrow {
    width: 24px;
    height: 16px;
}

.dashboard-hall-info {
    padding-left: 104px;
    padding-bottom: 35px;
}

.additional-info {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 36px;
}

.pop-up {
    height: 57px;
    padding-left: 42px;
    align-items: center;
}

.admin-config-list {
    display: flex;
    margin-bottom: 36px;
}

.admin-config-list-item {
    list-style-type: none
}

.admin-config-button {
    width: 81px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.45);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.admin-config-button.selected {
    width: 90px;
    height: 46px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 900;
}

.admin-config-seats-additional {
    font-size: 14px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.admin-config-seats-input {
    width: 100px;
    height: 36px;
}

.admin-config-seat {
    width: 26px;
    height: 26px;
    border-radius: 4px;
}

.standart {
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(57, 57, 57, 1);
}

.vip {
    background-color: rgba(176, 214, 216, 1);
    border: 1px solid rgba(10, 130, 138, 1);
    background-image: url(../../../assets/bgi-for-vip.png);
}

.disabled {
    background-color: rgba(234, 233, 235, 0.95);
    border: 1px solid rgba(196, 196, 196, 1);
}