.buying-scheme {
  width: 100%;
  padding-top: 15px;
  height: 376px;
  background-color: rgba(23, 29, 36, 1);
}

.buying-scheme__wrapper {
  width: 284px;
  height: 266px;
  margin: 0px auto;
  margin-bottom: 30px;
  background-image: url(../src/assets/hall-screen.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.button-wrap {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.button {
  width: 232px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgba(22, 166, 175, 1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.buying-scheme__row:first-child {
    padding-top: 30px;
}

.buying-scheme__row {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
}

.buying-scheme__chair {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px;
  border-color: rgba(82, 82, 82, 1);
  border-radius: 4px;
  cursor: pointer;
}

.buying-scheme__chair.selected {
  background-color: rgba(37, 196, 206, 1);
}

.closed {
  background-color: rgba(23, 29, 36, 1);
  border: 1px solid rgba(82, 82, 82, 1);
}

.vip {
  background-color: rgba(249, 149, 58, 1);
}

.empty-seat {
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.buying-scheme__legend {
  width: 284px;
  height: 80px;
  display: flex;
  margin: 0 auto;
  gap: 15px;
}

.buying-scheme__legend-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin-left: 4px;
}

.buying-scheme__legend-price {
  width: 184px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status {
  width: 170px;
  display: flex;
}
