.price-config-seats-price-wrap {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}

.price-config-seats-price {
    display: flex;
    flex-direction: column;
}

.additional-info.price-config {
    height: 2.25rem;
}