.session-grid-add-popup-form {
    width: 960px;
    margin: 0 auto;
    background: rgba(234, 233, 235, 0.95);
    z-index: 1001;
    position: relative;
}

.session-grid-add-popup-form.movie {
    min-height: 464px;
}

.session-grid-new-item {
    width: 960px;
    height: 100%;
}

.session-grid-new-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 42px;
    gap: 8px;
}

.session-grid-list-label {
    font-size: 12px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.session-grid-list-input {
    width: 750px;
    height: 35px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid rgba(183, 183, 183, 1);
}

.session-grid-list-input.description {
    min-height: 80px;
}

.session-grid-list-wrap {
    display: flex;
    flex-direction: column;
}

.session-grid-pop-up-buttons {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.session-grid-button {
    width: 194px;
    height: 40px;
}

.session-grid-button.cancel {
    width: 139px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(99, 83, 108, 1);
}

.session-grid-add-film-button {
    margin-top: 52px;
    width: 194px;
    height: 40px;
}

.session-grid-all-movies {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 50px;
}

.session-grid-movie {
    width: 260px;
    height: 52px;
    display: flex;
    position: relative;
    gap: 10px;
    cursor: grab;
}

.session-grid-movie-poster {
    width: 38px;
    height: 50px;
}

.session-grid-movie-title {
    font-weight: 500;
    font-size: 14px;
}

.session-grid-movie-duration {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.session-grid-movie-delete-btn {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0.18rem 0.18rem rgba(0, 0, 0, 0.24);
    margin: 1px;
}

.movie-delete-img {
    width: 12px;
    height: 12px;
}

.session-grid-add-popup-form {
    min-height: 380px;
}

.session-grid-list-select {
    width: 753px;
    height: 36px;
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid rgba(183, 183, 183, 1);
}

.seance-list-item {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.session-grid-movies-seance-wrap {
    display: flex;
    flex-direction: column;
    width: 816px;
    align-items: center;
}
